<div>
    <button class="arrow-back" mat-icon-button routerLink="">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="column center">
        <img class="logo center" src="/assets/logo_p6.png" alt="logo"/>
        <div class="title">Se connecter</div>
        <form class="login-form column" [formGroup]="loginForm">
                <div>Email ou nom d'utilisateur</div>
                <mat-form-field class="input-form" appearance="outline">
                    <input matInput label="E-mail ou nom d'utilisateur" formControlName="usernameOrEmail">
                </mat-form-field>
                <div>Mot de passe</div>
                <mat-form-field class="input-form" appearance="outline">
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button role="passwordVisibility" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            <button role="submit" mat-raised-button color="primary" (click)="submit()" [disabled]="loginForm.invalid"> Se connecter </button>
        </form>
    </div>
</div>