.box-content {
    max-height: 65px;
}

.flex-wrap-container {
    column-gap: 15px;
    row-gap: 25px;
}

.box {
    height: 150px;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    flex-direction: column;
}