<div>
    <mat-card>
        <mat-card-title>
            <button mat-icon-button routerLink="">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div>Inscription</div>
        </mat-card-title>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adresse e-mail</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"> S'inscrire </button>
            <span *ngIf="onError"> Une erreur est survenue </span>
        </form>
    </mat-card>
</div>
