.register-form {
    margin-top: 30px;
}

.submit-button {
    margin-top: 35px
}

.logo {
    display: none;
}

@media (max-width: 600px) {
    .logo {
        display: block;
        height: 130px;
        width: auto;
    }
}