<div>
    <div class="column" *ngIf="post$ | async as post">
        <div class="row">
            <button class="arrow-back" mat-icon-button routerLink="/posts">
                <mat-icon>
                    arrow_back
                </mat-icon>
            </button>
            <p class="title">
                {{ post.title | titlecase }}
            </p>
        </div>
        <div class="row info-item-container">
            <div class="info-item"> {{ post.createdAt | date: 'longDate' }} </div>
            <div class="info-item">
                <app-author-name [authorId]="post.authorId"></app-author-name>
            </div>
            <div class="info-item">
                <app-topic-name [topicId]="post.topicId"></app-topic-name>
            </div>
        </div>
        <div class="post-content">
            <p>Content: {{ post.content }}</p>
        </div>
    </div>
    <hr width="80%"/>
    <div class="column">
        <div class="subtitle"> Commentaires </div>
            <div class="row center flex-wrap-container" *ngFor="let comment of comments$ | async">
                <app-author-name class="username" [authorId]="comment.userId"></app-author-name>
                <div class="box">
                    <p> {{ comment.message }} </p>
                </div>
            </div>
            <form class="comment-form row center" [formGroup]="commentForm!" (ngSubmit)="sendComment()">
                <mat-form-field class="input-form" appearance="outline">
                    <div class="row">
                        <textarea rows="5" matInput formControlName="message" placeholder="Ecrivez ici votre commentaire"></textarea>
                        <button class="inner-button" mat-icon-button matSuffix (click)="sendComment()" [disabled]="commentForm!.invalid">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                        <mat-error *ngIf="commentForm!.get('message')?.hasError('maxlength')">
                            Le commentaire ne doit pas dépasser 2000 caractères.
                        </mat-error>
                        <mat-error *ngIf="commentForm!.get('message')?.hasError('required')">
                            Le commentaire ne peut pas être vide.
                        </mat-error>
                </mat-form-field>
                <button class="send-button" mat-icon-button type="submit" [disabled]="commentForm!.invalid">
                    <mat-icon>send</mat-icon>
                </button>
            </form>
    </div>
</div>
