.disconnect-button {
    font-weight: bold;
    color: darkred;
    margin: 5px;
}

.title2 {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .title {
        margin-bottom: 20px;
    }

    .title2 {
        display: none;
    }


}