<div>
    <mat-toolbar class="toolbar-container" *ngIf="showToolbar">
        <img class="toolbar-logo" src="/assets/logo_p6.png" alt="logo"/>
        <div class="toolbar-items link" *ngIf="isLoggedIn$() | async">
            <span routerLink="/posts"> Articles </span>
            <span routerLink="/topic"> Thèmes </span>
            <button mat-icon-button class="account-logo" routerLink="/me">
                <mat-icon> account_circle </mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>
<div>
    <router-outlet></router-outlet>
</div>
