.toolbar-logo {
    height: 70px;
    width: auto;
}

.toolbar-container {
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.toolbar-items {
    color: black;
    margin-left: auto;
    
}

.account-logo {
    transform: scale(1.5);
}