<div>
    <div class="toolbar-container row" *ngIf="showToolbar">
        <img class="toolbar-logo" src="/assets/logo_p6.png" alt="logo"/>
        <div class="toolbar-items link" *ngIf="isLoggedIn$() | async">
            <span class="toolbar-item" routerLink="/posts" routerLinkActive="active"> Articles </span>
            <span class="toolbar-item" routerLink="/topic" routerLinkActive="active"> Thèmes </span>
            <button mat-icon-button class="account-logo" routerLink="/me" routerLinkActive="active">
                <mat-icon> account_circle </mat-icon>
            </button>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
