.center {
  height: 700px;
}

.home-button {
  margin: 50px;
}

@media (max-width: 600px) {
  .logo {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
  }

  .home-button {
    margin: 15px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: unset;
}
}
